# Telegram
TELEGRAM_BOT_TOKEN=

# Groq
GROQ_API_KEY=

# Supabase
SUPABASE_URL=https://hmpdsujjcvuqslaahhbz.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# n8n (если self-hosted)
N8N_WEBHOOK_URL=
